@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,400;0,500;0,600;0,700;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');


//text color
$text-color-black1:hsla(0,0%,10%);
$text-color-black2:hsla(0,0%,30%);
$text-color-gray1:hsla(0,0%,60%);
$text-color-gray2:hsla(0,0%,80%);
$text-color-gray3:hsla(0,0%,90%);
$text-color-theme1:hsla(20,90%,45%);
$text-color-theme2:hsla(20,90%,60%);
$text-color-theme3:hsla(160,100%,55%);


//background
$background-color-black1:hsla(0,0%,10%);
$background-color-black2:hsla(0,0%,30%);
$background-color-gray1:hsla(0,0%,60%);
$background-color-gray2:hsla(0,0%,80%);
$background-color-gray3:hsla(0,0%,90%);
$background-color-white:hsla(0,0%,100%);
$background-color-theme1:hsla(20,90%,45%);
$background-color-theme2:hsla(20,90%,60%);

//font-family
$logo-font: 'Permanent Marker', cursive;;
$primary-font:'Inter', sans-serif;
$secondary-font:'Chakra Petch', sans-serif;
$title-font: 'DM Serif Display', serif;
